*.exe
*.o
*.o_w32
*.o_w64
*.zip
*.txt~
*~
game
game_win32
game_win64
engine/old_src/*
engine/omnisquash.dev
engine/omnisquash.layout
engine/font/*
engine/Makefile.win
engine/.build.changed
engine/entities/entity_tables.c
engine/weapons/weapon_tables.c
engine/enemies/enemy_tables.c
engine/omnisquash
engine/log_omni.txt
assets/sprites/**/*.frames/*.png
assets/sprites/**/*.kra~
assets/sprites/**/*.csv
assets/sprites/**/*.csv~
profiling/wallClockProfiler/wallClockProfiler


omnisquash
.build.changed
